* text=auto !eol
/.classpath -text
/.project -text
/build.xml -text
images/copy-protected.png -text
images/expired-recording.png -text
images/expires-soon-recording.png -text
images/folder.png -text
images/in-progress-recording.png -text
images/in-progress-transfer.png -text
images/queued.png -text
images/running.png -text
images/save-until-i-delete-recording.png -text
images/suggestion-recording.png -text
lib/Chart2D.jar -text
lib/jmdns.jar -text
lib/swinglabs-0.8.0.jar -text
release/README.html -text
release/encode/ff_droid.enc -text
release/encode/ff_h264_high_rate.enc -text
release/encode/ff_h264_med_rate.enc -text
release/encode/ff_ipad.enc -text
release/encode/ff_iphone.enc -text
release/encode/ff_ipod_high_res.enc -text
release/encode/ff_ipod_low_res.enc -text
release/encode/ff_ps3.enc -text
release/encode/ff_psp.enc -text
release/encode/ff_tivo_hd.enc -text
release/encode/ff_tivo_sd.enc -text
release/encode/ff_xbox360.enc -text
release/encode/ff_zen.enc -text
release/encode/ff_zune.enc -text
release/encode/ff_zune_hd.enc -text
release/encode/ff_zune_mp4.enc -text
release/encode/hb_animation.enc -text
release/encode/hb_appletv.enc -text
release/encode/hb_film.enc -text
release/encode/hb_iphone.enc -text
release/encode/hb_ipod.enc -text
release/encode/hb_ps3.enc -text
release/encode/hb_psp.enc -text
release/encode/hb_television.enc -text
release/encode/hb_tivo_hd.enc -text
release/encode/hb_tivo_sd.enc -text
release/encode/hb_xbox360.enc -text
release/encode/me_bb9k.enc -text
release/encode/me_iphone.enc -text
release/encode/me_zen.enc -text
release/kmttg -text
release/service/conf/wrapper.conf -text
release/service/win32/bin/lib/wrapper.dll -text
release/service/win32/bin/lib/wrapper.jar -text
release/service/win32/bin/lib/wrappertest.jar -text
release/service/win32/bin/wrapper.exe -text
release/service/win32/install-kmttg-service.bat -text
release/service/win32/kmttg-cmd.bat -text
release/service/win32/start-kmttg-service.bat -text
release/service/win32/stop-kmttg-service.bat -text
release/service/win32/uninstall-kmttg-service.bat -text
src/com/tivo/kmttg/gui/autoLogView.java -text
src/com/tivo/kmttg/gui/autoTableEntry.java -text
src/com/tivo/kmttg/gui/bitrateTable.java -text
src/com/tivo/kmttg/gui/combobox.java -text
src/com/tivo/kmttg/gui/configAuto.java -text
src/com/tivo/kmttg/gui/configMain.java -text
src/com/tivo/kmttg/gui/fileBrowser.java -text
src/com/tivo/kmttg/gui/freeSpace.java -text
src/com/tivo/kmttg/gui/gui.java -text
src/com/tivo/kmttg/gui/help.java -text
src/com/tivo/kmttg/gui/jobEntry.java -text
src/com/tivo/kmttg/gui/jobTable.java -text
src/com/tivo/kmttg/gui/nplTable.java -text
src/com/tivo/kmttg/gui/sortableDate.java -text
src/com/tivo/kmttg/gui/sortableDouble.java -text
src/com/tivo/kmttg/gui/sortableDuration.java -text
src/com/tivo/kmttg/gui/sortableShow.java -text
src/com/tivo/kmttg/gui/sortableSize.java -text
src/com/tivo/kmttg/gui/taskInfo.java -text
src/com/tivo/kmttg/gui/textpane.java -text
src/com/tivo/kmttg/gui/tivoTab.java -text
src/com/tivo/kmttg/install/Unzip.java -text
src/com/tivo/kmttg/install/mainInstall.java -text
src/com/tivo/kmttg/install/toolDownload.java -text
src/com/tivo/kmttg/main/auto.java -text
src/com/tivo/kmttg/main/autoConfig.java -text
src/com/tivo/kmttg/main/autoEntry.java -text
src/com/tivo/kmttg/main/beacon.java -text
src/com/tivo/kmttg/main/config.java -text
src/com/tivo/kmttg/main/encodeConfig.java -text
src/com/tivo/kmttg/main/jobData.java -text
src/com/tivo/kmttg/main/jobMonitor.java -text
src/com/tivo/kmttg/main/kmttg.java -text
src/com/tivo/kmttg/main/mdns.java -text
src/com/tivo/kmttg/main/myExceptionHandler.java -text
src/com/tivo/kmttg/main/telnet.java -text
src/com/tivo/kmttg/main/tivoFileName.java -text
src/com/tivo/kmttg/task/NowPlaying.java -text
src/com/tivo/kmttg/task/adcut.java -text
src/com/tivo/kmttg/task/adscan.java -text
src/com/tivo/kmttg/task/atomic.java -text
src/com/tivo/kmttg/task/autotune.java -text
src/com/tivo/kmttg/task/captions.java -text
src/com/tivo/kmttg/task/comcut.java -text
src/com/tivo/kmttg/task/comskip.java -text
src/com/tivo/kmttg/task/custom.java -text
src/com/tivo/kmttg/task/decrypt.java -text
src/com/tivo/kmttg/task/download.java -text
src/com/tivo/kmttg/task/encode.java -text
src/com/tivo/kmttg/task/javaNowPlaying.java -text
src/com/tivo/kmttg/task/javadownload.java -text
src/com/tivo/kmttg/task/metadata.java -text
src/com/tivo/kmttg/task/metadataTivo.java -text
src/com/tivo/kmttg/task/push.java -text
src/com/tivo/kmttg/task/qsfix.java -text
src/com/tivo/kmttg/task/streamfix.java -text
src/com/tivo/kmttg/task/vrdencode.java -text
src/com/tivo/kmttg/task/vrdreview.java -text
src/com/tivo/kmttg/util/ChildDataHandler.java -text
src/com/tivo/kmttg/util/Entities.java -text
src/com/tivo/kmttg/util/backgroundProcess.java -text
src/com/tivo/kmttg/util/debug.java -text
src/com/tivo/kmttg/util/ffmpeg.java -text
src/com/tivo/kmttg/util/file.java -text
src/com/tivo/kmttg/util/log.java -text
src/com/tivo/kmttg/util/parseNPL.java -text
src/com/tivo/kmttg/util/string.java -text
/version -text
